Please add your personal information at the first cell by "Markdown" selection.
# 2024-Spring DS HW3
## Due: 2024/04/19 23:59
## 檔名請更為HW3_${學號}.ipynb 例如:HW3_111598084.ipynb

### Problem1:
- 請參考Lab5，繪製台積電在2023年的收盤價及開盤價的趨勢圖。

In [9]:
import pandas as pd
import requests
import time
import datetime
import os

checkfile = os.path.isfile("DS_Hw3_111590004.csv")

def get2023_stock_file(): # Get 2023 stock file
    stock_data = pd.DataFrame()
    date = datetime.date(2023,1,2)
    for i in range(362):
        # 2023/01/02~2023/12/29 01/02是2023台股開盤第一天，12/29是台股封關日
        urldate = str(date).replace('-','')
        url = f'https://www.twse.com.tw/exchangeReport/MI_INDEX?response=json&date={urldate}&type=ALLBUT0999'
        request = requests.get(url)
        request_json = request.json()
        if request_json['stat'] == 'OK':
            stock = pd.DataFrame(request_json['data9'],columns=request_json['fields9'])
            stock['date'] = urldate
            stock_data = pd.concat([stock_data,stock])
            print("Catch " + str(date) +" "+ str(len(stock['證券代號'])) )
        date += datetime.timedelta(days=1)
        time.sleep(3)
    # 因為使用Pycharm，所以這裡使用相對路徑，麻煩助教再批改作業時注意一下，有可能會使檔案儲存在其他位置
    stock_data.to_csv("DS_Hw3_111590004.csv")
    
if(checkfile == False): # 需要測試功能是否完整，應該是抓得到拉
    get2023_stock_file()

stock_data = pd.read_csv("DS_Hw3_111590004.csv") #讀取CSV檔
stock_data_opening = stock_data[['date','證券名稱','開盤價']]
stock_data_closing = stock_data[['date','證券名稱','收盤價']]

stock_data_opening = stock_data_opening.rename(columns={'證券名稱':'Stock_name'})
stock_data_opening = stock_data_opening.rename(columns={'開盤價':'Opening_price'})

stock_data_closing = stock_data_closing.rename(columns={'證券名稱':'Stock_name'})
stock_data_closing = stock_data_closing.rename(columns={'開盤價':'Opening_price'})


stock_data_TSMC_opening = stock_data_opening[stock_data_opening['Stock_name'] == '台積電']
stock_data_TSMC_closing = stock_data_closing[stock_data_closing['Stock_name'] == '台積電']
display(stock_data_TSMC_opening)
display(stock_data_TSMC_closing)

            date Stock_name Opening_price
453     20230103        台積電        446.00
1634    20230104        台積電        449.50
2815    20230105        台積電        459.00
3996    20230106        台積電        455.00
5177    20230109        台積電        468.00
...          ...        ...           ...
280610  20231225        台積電        582.00
281832  20231226        台積電        583.00
283054  20231227        台積電        587.00
284276  20231228        台積電        592.00
285498  20231229        台積電        589.00

[239 rows x 3 columns]

            date Stock_name     收盤價
453     20230103        台積電  453.00
1634    20230104        台積電  449.50
2815    20230105        台積電  458.50
3996    20230106        台積電  458.50
5177    20230109        台積電  481.00
...          ...        ...     ...
280610  20231225        台積電  581.00
281832  20231226        台積電  586.00
283054  20231227        台積電  592.00
284276  20231228        台積電  593.00
285498  20231229        台積電  593.00

[239 rows x 3 columns]

### Problem2: 手寫過程在紙上後拍照用Markdown附上
- Construct a decision tree using ID3 algorithm for the database given in the following table.
- Please document your process and results on paper, then take a picture and post it in this file.

| RID | age | income | student | credit_rating | Class: buys_computer |
| :-: | :-: | :-: | :-: | :-: | :-: |
| 1 | youth | high | no | fair | no |
| 2 | youth | high | no | excellent | no |
| 3 | middle_aged | high | no | fair | yes |
| 4 | senior | medium | no | fair | yes |
| 5 | senior | low | yes | fair | yes |
| 6 | senior | low | yes | excellent | no |
| 7 | middle_aged | low | yes | excellent | yes |
| 8 | youth | medium | no | fair | no |
| 9 | youth | low | yes | fair | yes |
| 10 | senior | medium | yes | fair | yes |
| 11 | youth | medium | yes | excellent | yes |
| 12 | middle_aged | medium | no | excellent | yes |
| 13 | middle_aged | high | yes | fair | yes |
| 14 | senior | medium | no | excellent | no |

### Problem3: 參考Lab6
1. 請計算　台積電、聯發科和聯電　2023年的股價平均值?
2. 請分析2023/1/1-2023/12/31期間與台積電絕對值相關度排行第5名的股票是哪一支股票？劃出這兩支股票的股價圖表 (圖表必須包含圖例、座標軸名稱、標題、大小為(7,7))